<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @distributor.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @distributor.age %>
</p>

<p>
  <strong>Company:</strong>
  <%= @distributor.company %>
</p>

<%= link_to 'Edit', edit_distributor_path(@distributor) %> |
<%= link_to 'Back', distributors_path %>
