<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publisher.name %>
</p>

<p>
  <strong>Organization name:</strong>
  <%= @publisher.organization_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @publisher.age %>
</p>

<p>
  <strong>Place:</strong>
  <%= @publisher.place %>
</p>

<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
