<h1> Showing Patients Details </h1>
<table>
  <thead>
    <tr>
      <th><strong>Name</strong></th>
      <th><strong>Age</strong></th>
      <th><strong>Health Issue</strong></th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.name %></td>
      <td><%= patient.age %></td>
      <td><%= patient.health_issue %></td>
      <td><%= link_to 'Show',patient_path(patient) %></td>
      <td><%= link_to 'Edit',edit_patient_path(patient) %></td>
      <td><%= link_to 'Delete',patient_path(patient),method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'Create new article',new_patient_path %>
</p>
