<h1> Accounts Listing Page </h1>

<table>
  <thead>
    <tr>
      <th> Account Number </th>
      <th> IFSC code </th>
      <th> Accout Holder Name </th>
      <th> Branch Name </th>
      <th colspan="3">Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
    <tr>
      <td><%= account.accoutnumber %></td>
      <td><%= account.ifsccode %></td>
      <td><%= account.accoutholdername %></td>
      <td><%= account.branchname %></td>
      <td><%= link_to 'Show',account_path(account) %></td>
      <td><%= link_to 'Edit',edit_account_path(account) %></td>
      <td><%= link_to 'Delete',account_path(account),method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Create new article',new_account_path %>
</p>
